<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/CASOS_COVID_19_NO_BRASIL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

In [27]:
covid_br = pd.read_csv('/content/drive/MyDrive/HIST_PAINEL_COVIDBR_20abr2021.csv', sep=";")

In [28]:
covid_br.head()

   regiao estado  ... emAcompanhamentoNovos  interior/metropolitana
0  Brasil    NaN  ...                   NaN                     NaN
1  Brasil    NaN  ...                   NaN                     NaN
2  Brasil    NaN  ...                   NaN                     NaN
3  Brasil    NaN  ...                   NaN                     NaN
4  Brasil    NaN  ...                   NaN                     NaN

[5 rows x 17 columns]

In [29]:
covid_br.shape

(2192280, 17)

In [30]:
covid_br['obitosNovos']

0           0
1           0
2           0
3           0
4           0
           ..
2192275    76
2192276    47
2192277    38
2192278    74
2192279    60
Name: obitosNovos, Length: 2192280, dtype: int64

In [31]:
selecao = (covid_br['municipio'] == 'Afogados da Ingazeira') == True
dados_afogadosDaIngazeira = covid_br.loc[selecao,['data', 'municipio', 'obitosAcumulado']]

In [32]:
dados_afogadosDaIngazeira

              data              municipio  obitosAcumulado
587040  2020-03-27  Afogados da Ingazeira                0
587041  2020-03-28  Afogados da Ingazeira                0
587042  2020-03-29  Afogados da Ingazeira                0
587043  2020-03-30  Afogados da Ingazeira                0
587044  2020-03-31  Afogados da Ingazeira                0
...            ...                    ...              ...
587425  2021-04-16  Afogados da Ingazeira               47
587426  2021-04-17  Afogados da Ingazeira               46
587427  2021-04-18  Afogados da Ingazeira               46
587428  2021-04-19  Afogados da Ingazeira               47
587429  2021-04-20  Afogados da Ingazeira               49

[390 rows x 3 columns]