<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/CASOS_COVID_19_NO_BRASIL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
covid_br = pd.read_csv('/content/drive/MyDrive/HIST_PAINEL_COVIDBR_04abr2021.csv', sep=";")

In [3]:
covid_br.head()

   regiao estado  ... emAcompanhamentoNovos  interior/metropolitana
0  Brasil    NaN  ...                   NaN                     NaN
1  Brasil    NaN  ...                   NaN                     NaN
2  Brasil    NaN  ...                   NaN                     NaN
3  Brasil    NaN  ...                   NaN                     NaN
4  Brasil    NaN  ...                   NaN                     NaN

[5 rows x 17 columns]

In [ ]:
covid_br.shape

(2102376, 17)

In [ ]:
covid_br['obitosNovos']

0            0
1            0
2            0
3            0
4            0
          ...
2102371    117
2102372    121
2102373     57
2102374     28
2102375     53
Name: obitosNovos, Length: 2102376, dtype: int64

In [22]:
selecao = (covid_br['municipio'] == 'Afogados da Ingazeira') == True
dados_afogadosDaIngazeira = covid_br.loc[selecao,['data', 'municipio', 'obitosAcumulado']]

In [23]:
dados_afogadosDaIngazeira

              data              municipio  obitosAcumulado
562992  2020-03-27  Afogados da Ingazeira                0
562993  2020-03-28  Afogados da Ingazeira                0
562994  2020-03-29  Afogados da Ingazeira                0
562995  2020-03-30  Afogados da Ingazeira                0
562996  2020-03-31  Afogados da Ingazeira                0
...            ...                    ...              ...
563361  2021-03-31  Afogados da Ingazeira               43
563362  2021-04-01  Afogados da Ingazeira               43
563363  2021-04-02  Afogados da Ingazeira               43
563364  2021-04-03  Afogados da Ingazeira               43
563365  2021-04-04  Afogados da Ingazeira               43

[374 rows x 3 columns]