<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/Criando_Agrupamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análise VII

In [8]:
import pandas as pd

In [15]:
dados = pd.read_csv('/content/aluguel_residencial.csv', sep= ';')
dados.head(7)

   Unnamed: 0                Tipo  ... Valor_m²  Tipo_Agregado
0           0           Quitinete  ...    42.50    Apartamento
1           1                Casa  ...    70.00           Casa
2           2         Apartamento  ...    53.33    Apartamento
3           3         Apartamento  ...    16.67    Apartamento
4           4         Apartamento  ...    26.00    Apartamento
5           5  Casa de Condomínio  ...    29.33           Casa
6           6  Casa de Condomínio  ...    15.38           Casa

[7 rows x 12 columns]

In [16]:
dados.drop(['Unnamed: 0'], axis= 1, inplace= True)
dados

              Tipo                Bairro  Quartos  ...  IPTU  Valor_m²  Tipo_Agregado
0        Quitinete            Copacabana        1  ...  60.0     42.50    Apartamento
1             Casa       Jardim Botânico        2  ...   0.0     70.00           Casa
2      Apartamento                Centro        1  ...  20.0     53.33    Apartamento
3      Apartamento          Higienópolis        1  ...   0.0     16.67    Apartamento
4      Apartamento              Cachambi        2  ...  17.0     26.00    Apartamento
...            ...                   ...      ...  ...   ...       ...            ...
21821  Apartamento                 Méier        2  ...  48.0     12.86    Apartamento
21822    Quitinete                Centro        0  ...  25.0     29.63    Apartamento
21823  Apartamento           Jacarepaguá        3  ...  40.0     23.08    Apartamento
21824  Apartamento  São Francisco Xavier        2  ...  37.0     29.17    Apartamento
21825  Apartamento                Leblon        2  ...   0.0     42.86    Apartamento

[21826 rows x 11 columns]

In [17]:
dados['Valor'].mean()

5046.172821405663

In [18]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon',
           'Botafogo', 'Flamengo', 'Tijuca']

selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [19]:
dados['Bairro'].drop_duplicates()

0          Copacabana
5     Barra da Tijuca
15             Tijuca
19            Ipanema
23           Botafogo
27             Leblon
78           Flamengo
Name: Bairro, dtype: object

In [21]:
grupo_bairro = dados.groupby('Bairro')
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [27]:
for bairro, dados in grupo_bairro:
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

Barra da Tijuca -> 7069.552938130986
Botafogo -> 8791.828178694159
Copacabana -> 4126.677004538578
Flamengo -> 4113.526610644258
Ipanema -> 9352.001133786847
Leblon -> 8746.344992050874
Tijuca -> 2043.52

In [29]:
grupo_bairro['Valor'].mean().round(2)

Bairro
Barra da Tijuca    7069.55
Botafogo           8791.83
Copacabana         4126.68
Flamengo           4113.53
Ipanema            9352.00
Leblon             8746.34
Tijuca             2043.52
Name: Valor, dtype: float64