<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/Criando_Faixas_de_Valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv('/content/aluguel.csv', sep= ';')
dados

              Tipo               Bairro  Quartos  ...   IPTU  Valor m2  Tipo Agregado
0      Apartamento               Centro        1  ...   20.0     53.33    Apartamento
1      Apartamento         Higienópolis        1  ...    0.0     16.67    Apartamento
2      Apartamento             Cachambi        2  ...   17.0     26.00    Apartamento
3      Apartamento               Grajaú        2  ...   74.0     21.43    Apartamento
4      Apartamento  Lins de Vasconcelos        3  ...   14.0     16.67    Apartamento
...            ...                  ...      ...  ...    ...       ...            ...
19826    Quitinete               Glória        1  ...   10.0     40.00    Apartamento
19827    Quitinete             Flamengo        1  ...    0.0     39.13    Apartamento
19828    Quitinete               Centro        1  ...    0.0     45.83    Apartamento
19829    Quitinete           Copacabana        1  ...  200.0     68.18    Apartamento
19830    Quitinete               Centro        0  ...   25.0     29.63    Apartamento

[19831 rows x 11 columns]

In [5]:
classes = [0, 2, 4, 6, 100]

In [20]:
quartos = pd.cut(dados.Quartos, classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [21]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [28]:
labels = ['0 a 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [29]:
quartos = pd.cut(dados.Quartos, classes, labels= labels, include_lowest= True)

In [30]:
pd.value_counts(quartos)

0 a 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: Quartos, dtype: int64