<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/Estatistica_Descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importando o Pandas e lendo o dataset do projeto
https://pandas.pydata.org/

In [3]:
import pandas as pd

In [5]:
dados = pd.read_csv("/content/dados.csv")
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

## Tipos de Dados

### Variáveis qualitativas ordinais
---
Variáveis que podem ser ordenadas ou hierarquizardas

In [7]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

### Variáveis qualitativas nominais

Variáveis que não podem ser ordenadas ou hierarquizardas

In [8]:
sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [9]:
sorted(dados['Sexo'].unique())

[0, 1]

In [10]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

### Variáveis quantitativas discretas
---
Variáveis que representam um contagem onde os valores possíveis formam um conjunto finito ou enumerável.

In [14]:
print("De %s até %s anos " % (dados.Idade.min(), dados.Idade.max()))

De 13 até 99 anos

**Observação**

---
> A variável idade pode ser classificada de três formas distintas:

>1. **QUANTITATIVA DISCRETA** - quando representa anos completos (números inteiros);
>2. **QUANTITATIVA CONTÍNUA** - quando representa a idade exata, sendo representada por frações de anos; e
>3. **QUALITATIVA ORDINAL** - quando representa faixas de idade.

## Variáveis quantitativas contínuas

Variáveis que representam uma contagem ou mensuração que assumem valores em uma escala contínua (números reais).

In [19]:
print("De %s até %s metros" % (dados.Altura.min(), dados.Altura.max()))

De 1.339244614 até 2.028496765 metros

# Distribuição de Frequencia