<a href="https://colab.research.google.com/github/albertomendess/Data-Science/blob/main/Sele%C3%A7%C3%B5es_de_frequ%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de análise

### Seleções de frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('/content/aluguel_residencial.csv', sep= ';')

In [3]:
dados.head(7)

   Unnamed: 0                Tipo           Bairro  ...    Valor  Condominio  IPTU
0           0           Quitinete       Copacabana  ...   1700.0       500.0  60.0
1           1                Casa  Jardim Botânico  ...   7000.0         NaN   NaN
2           2         Apartamento           Centro  ...    800.0       390.0  20.0
3           3         Apartamento     Higienópolis  ...    800.0       230.0   NaN
4           4         Apartamento     Vista Alegre  ...   1200.0         NaN   NaN
5           5         Apartamento         Cachambi  ...   1300.0       301.0  17.0
6           6  Casa de Condomínio  Barra da Tijuca  ...  22000.0         NaN   NaN

[7 rows x 10 columns]

In [5]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [7]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [9]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# 0 <= Area <= 100
selecao = (dados['Area'] >=60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [15]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menos que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] <= 2000)
n4 = dados[selecao].shape[0]
n4

60

In [21]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}". format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 60